*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #4D4D4D;
    cursor: pointer;
    font-size: 18px;
}

.btn{
    margin-left: 10px;
    height: 40px;
    padding: 10px 40px;
    background-color: #4CAF4F;
    border-radius: 6px;
    color: white;
}

body{
    max-width: 90%;
    margin-inline: auto;
}

nav{

    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter',sans-serif;

    .alink:hover{
        color: red;
    }

    img{
        width: 200px;
        height: 60px;
    }

    .links{
        display: flex;
        align-items: center;
        gap: 18px;
    }

    .mob-links{
        display: none;
    }

    h1 {
        color: #4D4D4D;
        font-size: 26px;
    }


    @media screen and (max-width:1024px){
        .links{
            display: none;
        }
        .mob-links{
            display: block;
            i{
                font-size:28px;
            }
        }
    }
}

.banner{
    display: grid;
    padding: 100px 0 50px 0;
    grid-template-columns: 1fr 1fr;
    font-family: 'Inter',sans-serif;
    .text{
        h1 {
            color: #4D4D4D;
            font-size: 48px;
            span{
                color: #ec0000;
            }
        }
        p{
            margin: 5px 0;
        }
        .btn{
            display: inline-block;
            margin: 10px 0;
        }
    }
    .banner-img{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            object-fit: contain;
            max-height: 300px;    
        }
    }

    @media screen and (max-width:1024px){
        display: flex;
        flex-direction: column-reverse;
        padding: 10px 5px;
        gap:10px;

        .text{
            h1{
                font-size: 32px;
            }
        }
        .banner-img{
            margin-top: 10px;
            img{
                width: 90%;
            }
        }
    }

}


.content{
    font-family: 'Inter',sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h1 {
            color: #4D4D4D;
            font-size: 46px;
            text-align: center;
        }

        .abt2{
            font-size: 22px;
            text-align: center;
            padding: 0 160px;
        }
  
    }

    .cards{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 55px;

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            border-radius: 16px;
            box-shadow: 11px 8px #e1a0a0;
            padding: 15px 25px;

            img{
                object-fit: contain;
                width: 100%;
                max-height: 250px;
            }
            p{
                text-align: center;
            }
        }
    }

    .social{
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
            color: #4D4D4D;
            font-size: 46px;
            text-align: center;
        }

        .soc-cont{
            display: grid;
            margin-top: 20px;
            grid-template-columns: 1fr 1.2fr;
            column-gap: 40px;

            div{
                img{
                    object-fit: contain;
                    width: 100%;
                    max-height: 300px;
                }
            }
            .text{
                display: flex;
                flex-direction: column;
                gap: 8px;
                align-items: left;
                justify-content: center;
                h2{
                    font-size: 32px;
                }
                p{
                    font-size: 24px;
                }
            }
        }
    }

    @media screen and (max-width:1024px) {
        .about{

            h1{
                font-size: 28px;
            }

            .abt2{
                font-size: 16px;
                padding: 0 1%;           
            }
        }

        .mob{
            
            .cards{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                gap: 30px;

                .card{
                    padding: 5px 15px;
                    max-width: 500px;
                    box-shadow: 5px 3px #e1a0a0;
                    img{
                        max-width: 500px;
                    }
                    h2{
                        font-size: 18px;
                    }
                }
            }

        }

        .social{
            h1{
                font-size: 28px;
            }
            .soc-cont{
                display: flex;
                flex-direction: column;
                gap: 8px;

                div{
                    img{
                        max-height: 200px;
                    }
                }
                .text{
                    align-items: center;
                    
                    h2{
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
        }
    }

    @media screen and (max-width:576px) {

        .mob{
            .cards{
                .card{
                    h2{
                        text-align: center;
                    }
                }
            }
        }
        
    }

}

.sponsors{
    .cards{
        display: flex;
        .card{
            box-shadow: none;
            img{
                max-width:200px;
            }
            h2{
                font-size: 16px;
            }
        }
    }
}

.eligibilty{
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
        color: #4D4D4D;
        font-size: 46px;
        text-align: center;
    }

    .eligible{
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
        .img-cont{
            img{
                object-fit: cover;
                width: 100%;
                max-height: 300px;
            }
        }
        .content{
            font-size: 18px;
        }
    }

    @media screen and (max-width:1024px){
        h1{
            font-size: 28px;
        }

        .eligible{
            justify-content: center;
            .img-cont{
                img{
                    max-width: 200px;
                    max-height: 250px;
                }
            }
            .content{
                font-size: 16px;
            }
        }
    }
}
